{% extends 'base.html.twig' %}

{% block title 'Mon profil' %}

{% block body %}
    <div class="container pt5">
        <h1>Mon profil</h1>

        <theme-switcher></theme-switcher>

        <a href="{{ path('user_transactions') }}" class="btn btn-secondary">Mes factures</a>
    </div>
{% endblock %}
