{% extends 'base.html.twig' %}

{% block title 'Mon profil' %}

{% block body %}
    <div class="layout-sidebar py5" style="--gap:5;">
        {% include 'profile/_sidebar.html.twig' with {active: 'profile', user: app.user} %}

        <main>
            <h1 class="mb3">{{ icon('user') }} Mon profil</h1>
            <div class="card">
                <div class="card__body">
                    <div class="card__title">Titre de la carte</div>
                    <div class="card__description">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi enim fugit illum iure nemo pariatur sint
                        vitae. Architecto cupiditate delectus eos est non quis reiciendis suscipit totam veritatis voluptas.
                        Vero?
                    </div>
                </div>
            </div>
        </main>
    </div>

    {% if app.request.get('payment_success') %}
        <modal-element>
            <img src="{{ asset('images/auth_background.png') }}" alt="Auth Background">
            <h2>Merci pour votre paiement</h2>
            <p class="text-center mb2">
                Vous êtes premium jusqu'au <br/><strong>{{ app.user.premiumEnd | format_date('long') }}</strong>.
            </p>
        </modal-element>
    {% endif %}
{% endblock %}
