<form method="post" action="{{ path('invoices_delete', {'id': invoice.id}) }}" onsubmit="return confirm('Voulez vous vraiment supprimer cette facture ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ invoice.id) }}">
    <button class="btn-error" title="Supprimer la facture">
        {{ icon('trash') }}
    </button>
</form>
