{% extends 'base.html.twig' %}

{% block title 'Nouvelle facture' %}

{% block body %}
    <div class="container py5">
        <h1>Nouvelle facture</h1>

        {{ include('invoice/_form.html.twig') }}
    </div>
{% endblock %}
