{% extends 'base.html.twig' %}

{% block title "Connexion" %}

{% block body %}
    <h1>Se connecter</h1>

    {{ form_start(loginForm) }}
        {{ form_row(loginForm.email) }}

    <button type="submit" class="btn">Se connecter</button>
    {{ form_end(loginForm) }}
{% endblock %}
