<footer class="footer" style="width: 100%; display: flex; justify-content: space-between; margin-top: 150px;">
    <div>
        <div class="footer-title">Contact</div>
    </div>

    <div>
        <div class="footer-title">L'application</div>
        <p class="text-muted mb2">
            Description
        </p>
    </div>

    <div>
        <div class="footer-title">Thème</div>
    </div>
</footer>