<footer class="footer">
    <div class="footer__contact">
        <div class="footer-title">Contact</div>
    </div>

    <div class="footer__description">
        <div class="footer-title">L'application</div>
        <p class="text-muted mb2">
            Description
        </p>
    </div>

    <div class="footer__theme">
        <theme-switcher></theme-switcher>
        <network-status></network-status>
    </div>
</footer>