{% extends 'base.html.twig' %}


{% block title 'Confidentialité' %}

{% block body %}
    <main class="container py5">
        <h1>Confidentialité</h1>

        <section class="py4">
            <h2>
                Utilisation des données personnelles collectées
            </h2>
            <h3>Vos informations</h3>
            <p>
                Les données vous concernant sont annonymisées. Elles sont chiffrées en base de données.
            </p>
            <h3>
                Comptes en banques
            </h3>
            <p>
                Lorsque vous créez un compte en banque sur EuroBudget, les informations que vous y saisissez ne sont demandées qu'à titre d'informations ainsi que pour servir aux calculs.
            </p>
            <h3>
                Avatars
            </h3>
            <p>
                Si vous envoyez des images sur l'application, nous vous conseillons d’éviter de téléverser des images contenant des
                données EXIF de coordonnées GPS. Les visiteurs de votre site web peuvent télécharger et extraire des données de localisation depuis ces images.
            </p>
            <h3>
                Cookies
            </h3>
            <p>
                Si vous avez un compte et que vous vous connectez sur le site, un cookie temporaire sera créé afin de persister votre état de connexion. Ce cookie sera automatiquement détruit lorsque
                vous vous déconnectez du site.
            </p>
            <hr>
            <h2>
                Durées de stockage de vos données
            </h2>
            <p>
                Les données que vous saisissez sur l'application sont conservées indéfiniment. Tout cela pour des raisons techniques ainsi que pour établir des statistiques non divulgués avec des tiers.
            </p>
            <hr>
            <h2>
                Les droits que vous avez sur vos données
            </h2>
            <p>
                Si vous avez un compte sur EuroBudget, vous pouvez demander la suppression des données personnelles vous concernant. Cela ne prend pas en compte
                les données stockées à des fins administratives, légales ou pour des raisons de sécurité. (fonctionnalité de demande de suppression à venir)
            </p>
            <hr>
            <h2>
                Transmission de vos données personnelles
            </h2>
            <p>
                Vos données ne sont pas partagées avec des tiers.
            </p>
            <hr>
            <h2>
                Informations supplémentaires
            </h2>
            <h3>
                Comment nous protégeons vos données
            </h3>
            <p>
                Afin que les données à caractère personnel que nous recueillons ne soient ni perdues, ni divulguées par des tiers non autorisés, nous avons mis en place les mesures nécessaires (chiffrement de la base de données pour les champs le nécessitant).
            </p>
{#            <h3>#}
{#                Procédures mises en œuvre en cas de fuite de données#}
{#            </h3>#}
{#            <p>#}
{#                Conformément à la procédure prévue par le règlement général sur la protection des données en cas de fuite ou d’anomalie concernant les données personnelles en notre possession, nous#}
{#                vous avertirons de la nature des données ayant fuitées et la nature du risque qui peut être engendrée, si cela peut entamer vos droits et libertés (données sensibles) dans un délai#}
{#                maximal de 72 heures après constat du problème.#}
{#            </p>#}
        </section>
    </main>
{% endblock %}
