{% extends 'base.html.twig' %}

{% block title "Accueil" %}

{% block body %}
    <main class="home pt5">
        <div class="container">
            <h1 class="hero-title">{{ 'now'|date('H') in 4..17 ? 'Bonjour' : 'Bonsoir' }}<strong> {{ app.user.userIdentifier }}</strong></h1>

            <comments-area user-id="{{ app.user.id }}"></comments-area>
        </div>
    </main>
{% endblock %}
