{% extends 'base.html.twig' %}

{% block title "Accueil" %}

{% block body %}
    <h1>Accueil</h1>

    <h2>Créez vous un compte afin de profiter de ce site <a href="{{ path('auth_register') }}" title="Inscription">ici</a>.</h2>
{% endblock %}
