{% extends 'base.html.twig' %}

{% block title "Accueil" %}

{% block body %}
    <main class="homepage py5">
        <div class="container">
            <h1 class="hero-title"><strong>EuroBudget</strong> est une plateforme de gestion des comptes</h1>

            <div class="dashboard__image ma">
                <img src="/images/dashboard.jpg" alt="EuroBudget dashboard">
            </div>

            <p class="hero-text">
                Créez vous un compte afin de profiter de ce site <strong><a href="{{ path('auth_register') }}" title="Inscription">ici</a></strong> ou <strong><a href="{{ path('auth_login') }}" title="Connexion">connectez vous</a></strong>.
            </p>
        </div>
    </main>
{% endblock %}
