{% extends 'base.html.twig' %}

{% block title "Accueil" %}

{% block body %}
    <main class="home py5">
        <div class="container">
            <h1>Accueil</h1>

            <comments-area user-id="{{ app.user.id }}"></comments-area>
        </div>
    </main>
{% endblock %}
