<div class="category grid fit">
    <div class="category__title">
        <span>{{ category.name }}</span>
    </div>
    <div class="category__actions actions">
        <a href="#" class="btn-primary" title="Éditer la catégorie">
            {{ icon('edit') }}
        </a>
        <a href="#" class="btn-error" title="Supprimer la catégorie">
            {{ icon('trash') }}
        </a>
    </div>
</div>