{% extends 'base.html.twig' %}

{% block title 'Nouvelle catégorie' %}

{% block body %}
    <div class="container py5">
        <h1>Nouvelle catégorie</h1>

        {{ include('category/_form.html.twig') }}
    </div>
{% endblock %}
