.welcome-container {
    @extend %container;
    position: relative;
}

.welcome-container img {
    width: 100%;
    height: auto;
    opacity: 0.3;
    z-index: -1;
}

.welcome-container .hero-title {
    position: absolute;
    top: 25%;
    left: 20%;
    width: 45%;

    @include down(985) {
        top: 0;
        left: 10%;
        right: unset;
        width: 90%;
    }
}

.dashboard__image {
    margin-top: space(3);
    width: 80%;
}

.dashboard__image img {
    //@extend %card;
    //@extend %card-hoverable;
    object-fit: cover;
    border-radius: border-radius(2);
}