.homepage {
    @extend %container;
}

.welcome-container {
    position: relative;
}

.welcome-container img {
    width: 100%;
    height: auto;
    opacity: 0.3;
    z-index: -1;

    @include down(985) {
        display: none;
    }
}

.welcome-container .hero-title {
    @include up(985) {
        position: absolute;
        top: 25%;
        left: 20%;
        width: 45%;
    }
}

.dashboard__image img {
    border-radius: border-radius(2);
}