// Background
// ===========
.background-background {
    color: var(--background) !important;
}
.background-background-light {
    color: var(--background-light) !important;
}
.background-color-inversed {
    color: var(--color-inversed) !important;
}
.background-contrast {
    color: var(--contrast) !important;
}
.background-contrast-transparent {
    color: var(--contrast-transparent) !important;
}
.background-border {
    color: var(--border) !important;
}
.background-border-light {
    color: var(--border-light) !important;
}
.background-red {
    color: var(--red) !important;
}
.background-red-transparent {
    color: var(--red-transparent) !important;
}
.background-green {
    color: var(--green) !important;
}
.background-green-transparent {
    color: var(--green-transparent) !important;
}
.background-yellow {
    color: var(--yellow) !important;
}
.background-yellow-transparent {
    color: var(--yellow-transparent) !important;
}

// Colors
// ===========
.color-background {
    color: var(--background) !important;
}
.color-background-light {
    color: var(--background-light) !important;
}
.color-color-inversed {
    color: var(--color-inversed) !important;
}
.color-contrast {
    color: var(--contrast) !important;
}
.color-contrast-transparent {
    color: var(--contrast-transparent) !important;
}
.color-border {
    color: var(--border) !important;
}
.color-border-light {
    color: var(--border-light) !important;
}
.color-red {
    color: var(--red) !important;
}
.color-red-transparent {
    color: var(--red-transparent) !important;
}
.color-green {
    color: var(--green) !important;
}
.color-green-transparent {
    color: var(--green-transparent) !important;
}
.color-yellow {
    color: var(--yellow) !important;
}
.color-yellow-transparent {
    color: var(--yellow-transparent) !important;
}
