// Compte en banque
// ==========
.deposit-account {
    @extend %card;
    border: 5px solid transparent;
}

.deposit-account:hover:not(.selected) {
    border: 5px solid var(--contrast);
}

.deposit-account .deposit-account__title {
    display: flex;
}

.deposit-account .deposit-account__title .deposit-account__color-indicator {
    width: 20px;
    height: 20px;
    border-radius: border-radius(0.5);
    margin-right: space(1);
}

.deposit-account .deposit-account__amount  {

    &.negative {
        color: var(--red);
    }

    &.positive {
        color: var(--green);
    }
}

.deposit-account .selected-icon {
    position: absolute;
    top: space(1);
    right: space(1);
    color: white;
    background: var(--contrast);
    width: 22px;
    height: 22px;
    border-radius: 22px;
    padding: 4px;
}

// Boutons radios pour sélection compte en banque
// ==========
.deposit-account-radio {
    position: relative;
    //width: calc(50% - 8px);

    label {
        cursor: pointer;
        margin-bottom: 0 !important;
        height: 100%;
    }

    .deposit-account {
        background: var(--background);
        box-shadow: none;
        height: 100%;

        &.selected {
            border: 3px solid var(--contrast);
        }
    }
}

.deposit-account-radio input[type="radio"] {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    opacity: 0;
    z-index: -1;
}