.footer {
    @extend %container;
    margin-top: auto;
    padding-top: space(5);
    padding-bottom: 75px;
    background: var(--background-light);
    border-top: solid 4px var(--border-light);
    gap: space(4);
}