// Liste
// =============
.list-group {
    @extend %card;
    overflow: hidden;
}

.list-group > * {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: space(3);
    border-bottom: 1px solid var(--border);
    transition: 0.3s;

    &:last-child {
        border-bottom: none;
    }
}

// Opérations
// =============
.operation {

    .operation__title {
        text-align: left;
    }
    
    @include down(730) {
        > * {
            text-align: left;
        }
    }
}