.pill {
    flex: none;
    white-space: nowrap;
    display: inline-flex;
    align-items: center;
    position: relative;
    padding: space(1) space(2);
    color: var(--contrast);
    font-weight: bold;
    overflow: hidden;
    border-radius: 500px;

    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: currentColor;
        opacity: 0.1;
        transition: opacity .3s;
        z-index: -1;
    }
}

a.pill:hover::after {
    opacity: 0.2;
}

// Sizes
// =============
.pill.small {
    font-size: 12px;
    height: 18px;
    padding: 0 5px;
    font-weight: normal;
    line-height: 18px;
    border-radius: 5px;

    .icon {
        transform: none;
        vertical-align: middle;
        margin-right: space(0.5);
        display: block;
        width: 12px;
        height: 12px;
    }
}