{% extends 'base.html.twig' %}

{% block title 'Nouveau compte en banque' %}

{% block body %}
    <div class="container py5">
        <h1>Nouveau compte en banque</h1>

        {{ include('deposit-account/_form.html.twig') }}
    </div>
{% endblock %}
