{% extends 'light-base.html.twig' %}

{% block title "Maintenance en cours" %}

{% block body %}
    <main class="container stack-separated py5" style="--gap:6">

        <h1>Le site est en cours de maintenance...</h1>

    </main>
{% endblock %}
