.dashboard-page {
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-rows: 60px 1fr;
    min-height: 100vh;
    grid-template-areas:
      "sidebar header"
      "sidebar body"
}

// Sidebar
// =============
.dashboard-sidebar {
    background: var(--background-light);
    border: 1px solid var(--border);
    font-size: 15px;
    grid-area: sidebar;
}
.dashboard-sidebar__wrapper {
    top: 0;
    position: sticky;
    max-height: 100vh;
    overflow: auto;
    padding: space(1.5) space(3);
}
.dashboard-sidebar__main li:first-child {
    margin-bottom: -6px;
}
.dashboard-sidebar__main li a {
    display: flex;
    align-items: center;
    padding: space(1) 0;

    &[aria-current] {
        border-left: 3px solid var(--contrast);
        background: var(--background);
        margin:0 space(-3);
        padding-left: space(3);
        color: var(--contrast);
    }
}

.dashboard-sidebar__main .title {
    border-top: 1px solid var(--border-light);
    margin-top: space(1.5);
    padding-top: space(1.5);
    padding-bottom: space(.5);
    text-transform: uppercase;
    font-weight: 300;
    font-size: 0.75em;
    color: var(--color-light);
}

.dashboard-sidebar__main .icon {
    margin-right: space(1);
    width: 16px;
    height: 16px;
}

// Main
// =============
.dashboard-body {
    position: relative;
    padding: space(3) space(6);
    grid-area: body;
}

.dashboard-title {
    font-weight: 600;
    font-size: 1.5rem;
}
.dashboard-title svg {
    height: 20px;
    width: 20px;
    color: var(--contrast);
}
.dashboard-card {
    background: var(--background-light);
    border: 1px solid var(--border);
    box-shadow: 0 2px 4px var(--shadow);
    border-radius: 3px;
    transition: 0.3s;
    padding: space(3);
}

// Grille
// ==================
.dashboard-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));
    gap: space(3);
}