{% extends 'base.html.twig' %}

{% block title 'Nouveau Virement' %}

{% block body %}
    <div class="container py5">
        <h1>Nouveau Virement</h1>

        {{ include('transfer/_form.html.twig') }}
    </div>
{% endblock %}
