{% extends 'base.html.twig' %}

{% block title "Connexion" %}

{% block body %}

    <main class="home py5">
        <div class="container">
            <h1>Se connecter</h1>

            {{ form_start(loginForm) }}
                {{ form_row(loginForm.email) }}

            <button type="submit" class="btn btn-primary">Se connecter</button>
            {{ form_end(loginForm) }}

            {% include 'auth/_social_login_buttons.html.twig' %}
        </div>
    </main>
{% endblock %}
